:root {
  font-family: "Nunito", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.room-door {
  border: none;
  outline: none;
  cursor: pointer;
}

.room-door img {
  width: 20px;
}

/* ---------------------------main */
main {
  display: flex;
  height: 100vh;
  width: 100vw;
}
/* ---------------------------main */

/* -----------------------aside */
aside {
  width: 300px;
  box-shadow: 1px 0px 20px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 20px;
}

aside h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 900;
}

aside .workers-list {
  height: 1000px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  padding: 10px;
}

aside .workers-list .worker {
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 1px 0px 8px #ccc;
  padding: 7px 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border-left: 3px solid #1138f7;
  position: relative;
}

.profile-picture {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}

aside .add-worker {
  width: 200px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #1138f7;
  color: white;
  box-shadow: 1px 0px 8px #ccc;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.add-worker:hover,
aside .workers-list .worker:hover {
  transform: translateY(-2px);
}

/* -----------------------aside */

/* --------------------------section */
.worksphere {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-content: center;
}

.map-container {
  /* background: url(plan.jpg) center/contain no-repeat; */
  /*
  position: relative;
  height: 650px;
  display: grid;
  grid-template-columns: 3.5fr 1fr 1.5fr 1.5fr;
  grid-template-rows: 1.8fr 1fr 2.2fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "zone--conference . zone--server zone--security"
    "zone--reception . . ."
    "zone--reception . zone--staff zone--archives"; */
  position: relative;
}

.zones {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map-container .plan {
  /* object-fit: contain; */
  /* height: 100%; */
  /* width: 100%; */
  width: 70vw;
}
.zone--conference {
  top: 0;
  left: 0;
  height: 13vw;
  width: 27vw;
}

.zone--security {
  right: 0;
  width: 16vw;
  height: 14vw;
}

.zone--reception {
  height: 26vw;
  width: 27vw;
  bottom: 8px;
  left: 0;
}

.zone--server {
  right: 16vw;
  width: 15vw;
  height: 14vw;
}

.zone--archives {
  right: 0;
  bottom: 8px;
  width: 16vw;
  height: 14vw;
}

.zone--staff {
  right: 16vw;
  bottom: 8px;
  width: 15vw;
  height: 14vw;
}

.zone {
  background-color: rgba(255, 255, 0, 0.261);
  position: absolute;
}

.overlay {
}

.room-door {
}

.workers {
}
/* --------------------------section */

/* -----------------------------Add worker popup */
.add-worker-popup {
  position: absolute;
  width: 370px;
  height: 600px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  border-radius: 5px;
  border: none;
  padding: 20px;
  text-align: center;
  overflow-y: auto;
}

.add-worker-popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-worker-popup input {
  width: 280px;
  padding: 8px 12px;
  border: none;
  border-left: 2px solid #1138f7;
  outline: none;
  /* margin: 10px; */
}

select {
  margin-bottom: 30px;
  width: 200px;
  padding: 8px;
  margin-top: 12px;
  background-color: #1138f7;
  color: white;
  border-radius: 5px;
}

select:focus {
  outline: none;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 10px 0;
}

#cancel {
  background-color: rgb(228, 83, 83);
}

#save {
  background-color: green;
}

.add-worker-popup .buttons .cancel {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  width: 140px;
  color: white;
  border-radius: 5px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 58px;
}

.profile input {
  /* border: 1px solid black; */
  width: 180px;
}

.experiences {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
}

.experience-dates {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.experience-dates label {
  font-size: 13px;
  align-self: flex-start;
}

#add-experience {
  width: 80%;
  margin-top: 16px;
  padding: 8px 12px;
  background-color: #1138f7;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-experience {
  width: 80%;
  padding: 8px 12px;
  margin-top: 15px;
  border: none;
  background-color: rgb(228, 83, 83);
  color: white;
  border-radius: 5px;
  display: none;
}

.showCancelButton {
  display: block;
}

.error-message {
  color: red;
  font-size: 11px;
  margin-top: 4px;
  font-weight: 400;
  min-height: 14px;
  display: block;
}

.experiences-separator {
  height: 1.5px;
  background-color: black;
  margin-bottom: 20px;
}
